## Q1. How do you comment code in Python? What are the different types of comments?

## Two type coment:
    1.Single Comment
    2.Multiple Comments

### 1.Single Comment

In [1]:
#hi hello 3+3

In [ ]:
' hi '

### 2.Multiple Comments

In [2]:
"""
hi 
hello
good evning guys

"""

'\nhi \nhello\ngood evning guys\n\n'

# Q2. What are variables in Python? How do you declare and assign values to variables?

* Variable is` store any value  used in python ,like store any number ,list,string,..etc`
* Variable declare to `first start to must letter(aA to zZ) or underscore(_) `
* value Assign to used `equal symbol(=)`

# Q3. How do you convert one data type to another in Python?

## That is very easy :
### you can change one data type to another data type in python 

* intger to float ,string --> 44 -->float(44),str(44)

In [7]:
a=44
print(a)
print(type(a))
a=float(a)
print(a)
print(type(a))

44
<class 'int'>
44.0
<class 'float'>

In [8]:
a=44
print(a)
print(type(a))
a=str(a)
print(a)
print(type(a))

44
<class 'int'>
44
<class 'str'>

* float to integer,string-->44.5 -->int(44.5),str(44.5)

In [9]:
a=44.5
print(a)
print(type(a))
a=float(a)
print(a)
print(type(a))

44.5
<class 'float'>
44.5
<class 'float'>

In [10]:
a=44.5
print(a)
print(type(a))
a=str(a)
print(a)
print(type(a))

44.5
<class 'float'>
44.5
<class 'str'>

* bool to int,str,float

In [17]:
a=True
print(a)
print(type(a))
a=float(a)
print(a)
print(type(a))
a=int(a)
print(a)
print(type(a))
a=str(a)
print(a)
print(type(a))

True
<class 'bool'>
1.0
<class 'float'>
1
<class 'int'>
1
<class 'str'>

# Q4. How do you write and execute a Python script from the command line?

In [25]:
exec(open('hi.py').read())

hello

# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [26]:
my_list=[1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [27]:
my_list[1:3]

[2, 3]

# Q6. What is a complex number in mathematics, and how is it represented in Python?

In [38]:
a=10+6j  # real number , imaginary 
a

(10+6j)

In [39]:
type(a)

complex

In [40]:
a.real

10.0

In [41]:
a.imag

6.0

# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

* variable name must declare (Aa to Zz) or underscore(_)

In [43]:
age_=25
age

25

# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [44]:
price=9.99
price

9.99

In [45]:
type(price)

float

# Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [46]:
name='sathishkumar'
name

'sathishkumar'

In [48]:
type(name)

str

# Q10. Given the string "Hello, World!", extract the substring "World".

In [49]:
a='Hello,World!'
a

'Hello,World!'

In [51]:
a[6:11]

'World'

# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [54]:
is_student=True
if is_student == True:
    print('your are student')
else:
    print('your are not student')

your are student