# 1.) What is a database? Differentiate between SQL and NoSQL databases.

## What is a database
* Database is the collection of organized data that is structured and stored electronically on a computer system

## Differentiate between SQL and NoSQL databases
* SQL databases are` relational`, and NoSQL databases are `non-relational.`
* SQL databases use `structured query language (SQL) `and have a predefined schema. NoSQL databases have `dynamic schemas for unstructured data`. 
* SQL databases are `vertically scalable`, while NoSQL databases are `horizontally scalable`.
* SQL databases are `table-based`, while NoSQL databases are `document, key-value, graph, or wide-column stores`.
* SQL databases are better for `multi-row transactions`, while NoSQL is better for `unstructured data like do`

# 2.)What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

* DDL stands for `"Data Definition Language,"` and it is a subset of `SQL (Structured Query Language) `used to define and `manage the structure of a database`. DDL statements are `used to create, modify, and delete database objects like tables, indexes, views, and more`. These statements are essential for setting up the database schema and defining its organization.

- CREATE:
The CREATE statement is used to `create new database objects, such as tables, views, or indexes`. It defines the structure and properties of the object to be created.
- Example - Creating a table:
Suppose we want to create a table named "Employees" to store information about employees in a company. The table may have columns like "EmployeeID," "FirstName," "LastName," "Position," and "Salary."

In [ ]:
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Position VARCHAR(100),
    Salary DECIMAL(10, 2)
);

- DROP:
The DROP statement is used to `remove existing database objects, such as tables, views, or indexes`. It `permanently deletes the object and its data from the database`.
- Example - Dropping a table:
Suppose we want to remove the "Employees" table from the database.

In [ ]:
DROP TABLE Employees;

- ALTER:
The ALTER statement is `used to modify the structure of an existing database object, such as adding, modifying, or deleting columns from a table`.
- Example - Adding a column:
Suppose we realize that we need to include an additional column named "Department" in the "Employees" table.

In [ ]:
ALTER TABLE Employees
ADD Department VARCHAR(100);

- TRUNCATE:
The TRUNCATE statement is used to `remove all rows from a table quickly`. It is a faster and less resource-intensive alternative to the DELETE statement, as it removes all data in one operation without logging individual row deletions.
- Example - Truncating a table:
Suppose we want to remove all data from the "Employees" table.

In [ ]:
TRUNCATE TABLE Employees;

# 3.) What is DML? Explain INSERT, UPDATE, and DELETE with an example

* DML stands for `"Data Manipulation Language,"` and it is a subset of `SQL (Structured Query Language) `used to `interact with and manipulate the data within a database` DML statements are responsible for performing operations such as` inserting, updating, and deleting data in database tables`.

- INSERT:
The INSERT statement is used to `add new rows or records into a table`. It allows you to specify the values for each column or insert data retrieved from another table.
* Example - Inserting a new record:
Suppose we have the following "Employees" table, and we want to insert a new employee's data.

In [ ]:
INSERT INTO Employees (EmployeeID, FirstName, LastName, Position, Salary)
VALUES (3, 'Michael', 'Johnson', 'Developer', 40000);

- UPDATE:
The UPDATE statement is used to `modify existing data in a table`. It allows you to change the values of one or more columns for specific rows based on certain conditions.
- Example - Updating an employee's salary:
Suppose we want to update the salary of employee with EmployeeID 2 to give them a raise.

In [ ]:
UPDATE Employees
SET Salary = 38000
WHERE EmployeeID = 2;

- DELETE:
The DELETE statement is used to `remove one or more rows from a table based on specific conditions`. It permanently removes data from the table.
- Example - Deleting an employee record:
Suppose we want to delete the record of the employee with EmployeeID 1 from the "Employees" table.

In [ ]:
DELETE FROM Employees
WHERE EmployeeID = 1;

# 4.)What is DQL? Explain SELECT with an  ?

* DQL stands for `"Data Query Language,"` and it is a subset of `SQL (Structured Query Language)` used to `retrieve and query data from a database`. The primary DQL statement is the ` statement, which allows you to specify the columns and conditions to fetch data from one or more tables in the database`.

- Example - Basic SELECT query:
Suppose we want to retrieve the EmployeeID, FirstName, and Salary of all employees from the "Employees" table.

In [ ]:
SELECT EmployeeID, FirstName, Salary
FROM Employees;

The SELECT statement is highly versatile and can be combined with other SQL clauses like ORDER BY, GROUP BY, JOIN, etc., to perform complex queries and retrieve data in various ways based on your specific requirements. It's one of the most powerful and commonly used DQL statements in SQL databases.

# 5.)Explain Primary Key and Foreign Key.


## Primary Key:
- A column or set of columns in a table that uniquely identifies each row.

## Foreign Key: 
- A column or set of columns in a table that refers to the Primary Key of another table, establishing a relationship between them.

# 6.) Write a python code to connect MySQL to python. Explain the cursor() and execute() method

- To connect MySQL to Python, you'll need to use a MySQL connector library. One popular choice is the `"mysql-connector-python" library`. Before running the code, ensure that you have installed the library using `pip install mysql-connector-python`.

In [5]:
import mysql.connector

# Connect to MySQL server
db_config = {
    'host': 'localhost',
    'user': 'kavi',
    'password': 'kavi',
    'database': 'mysql',
}

try:
    # Create a connection
    connection = mysql.connector.connect(**db_config)

    # Create a cursor object to interact with the database
    cursor = connection.cursor()

    # Execute a SQL query
    cursor.execute("SELECT * FROM employees")

    # Fetch and print the result
    result = cursor.fetchall()
    for row in result:
        print(row)

except mysql.connector.Error as err:
    print("Error: ", err)

finally:
    # Close the cursor and connection
    if 'cursor' in locals():
        cursor.close()
    if 'connection' in locals():
        connection.close()

Error:  1045 (28000): Access denied for user 'kavi'@'localhost' (using password: YES)

- Create a cursor object: The cursor() method is called on the connection object to create a cursor. The cursor is used to interact with the database and execute SQL queries.

- Execute a SQL query: The execute() method is called on the cursor object to execute an SQL query. In this example, we execute a SELECT query to fetch data from the "employees" table.

# 7.)Give the order of execution of SQL clauses in an SQL query.

In [ ]:
SELECT
FROM
WHERE
GROUP BY
HAVING
ORDER BY
LIMIT/OFFSET (Optional)